.welcome {
  text-align: center;
  padding: 10px;
}
.container {
  text-align: center;
}
.formcontainer {
  text-align: center;
  width: 500px;
  clear: both;
}
.formlogin {
  width: 100%;
  clear: both;
  padding: 5px;
  font-size: 30px;
}
.formnewuser {
  width: 100%;
  clear: both;
  padding: 5px;
  font-size: 30px;
}
.newuser {
  display: inline-block;
  padding: 10px;
}
.login {
  display: inline-block;
  padding: 10px;
}
input {
  font-size: 14pt;
}
