.datacontainer {
  /*padding:5px;*/
}
.profileimage img {
  /*display: inline-block;
  float: left;*/
  /*padding: 5px;*/
  /*border: 1px solid black;*/
  height: 250px;
  width: 250px;
  display: inline;
}
.profiledata {
  /*border: 1px solid black;*/
}
.profiledata ul {
  list-style: none;
}
table tr td img {
  height: 75px;
  width: 75px;
}
